In [ ]:
#LIST
#CREATING THE LIST AND PRINTING THE FIRST, LAST AND THE LENGTH OF THE LIST
x = [1,2,3,4,5]
print ("first element:", x[0])
print ("last element: ", x[-1])
print ("length :", len(x))

first element: 1
last element:  5
length : 5

In [ ]:
#sum and avg of the list
x= [1,2,3,4,5,6]
tot = sum(x)
avg = tot/len(x)
print("sum:", tot)
print("avg:,", avg)

sum: 21
avg:, 3.5

In [ ]:
#insert and delete an element
x=["apple","kiwi", "orange"]
x.append("melon")
print(x)
x.remove("apple")
print(x)
x.pop()
print (x)

['apple', 'kiwi', 'orange', 'melon']
['kiwi', 'orange', 'melon']
['kiwi', 'orange']

In [ ]:
#finding count of duplicates of an element in a list
x=[1,2,3,4,5,3,6,3,3]
print("duplicate count:" ,x.count(3))

duplicate count: 4

In [ ]:
#check if a number exists or not
x=[1,2,3,4,5,6,7,8,9]
y=int(input("enter a number:"))
if y in x:
    print("yes, the number exists")
else:
    print("no ")

enter a number:4
yes, the number exists

In [ ]:
#giving the index of an element
x=[1,2,3,4,5]
y=int(input("enter a number:"))
print("index of",y,"is",x.index(y))

enter a number:3
index of 3 is 2

In [ ]:
#sorting in ascending and descending
x=[4,1,2,6,5,8,3,9]
print("sorted list: " ,sorted(x))
print("reverse list: " ,sorted(x, reverse=True))

sorted list:  [1, 2, 3, 4, 5, 6, 8, 9]
reverse list:  [9, 8, 6, 5, 4, 3, 2, 1]

In [ ]:
#TUPLE
#PRINT FIRST, LAST ELEMENTS and LENGTH
tuple1 = (10, 20, 30, 5, 15, 25)
print("first element:" ,tuple1[0])
print("last element:" ,tuple1[-1])
print("length:" ,len(tuple1))

first element: 10
last element: 25
length: 6

In [ ]:
#printing all the elements of a tuple
x=("apple","kiwi", "orange")
for i in x:{
    print(i)
    }

apple
kiwi
orange

In [ ]:
#to check if a element exists in a tuple
x = (10, 20, 30, 5, 15, 25)
y=int(input("enter a number:"))
if y in x:
    print("yes, the number exists")
else:
    print("no ")

enter a number:20
yes, the number exists

In [ ]:
#to concatenate two tuples
x=(1,2,4,5)
y=(3,6,7,8)
z=x+y
print("Concatenation: " ,z)

Concatenation:  (1, 2, 4, 5, 3, 6, 7, 8)

In [ ]:
#using count() to find duplicates in a tuple
x=(1,2,3,4,3,5,6,3)
print("duplicate count:" ,x.count(3))

duplicate count: 3

In [ ]:
#using index() to find index of a element
x=(1,2,3,4,5, 6,7,8,9,10)
y=int(input("enter a number:"))
print("index of",y,"is",x.index(y))

enter a number:4
index of 4 is 3

In [ ]:
#converting a list to tuple
x=[1,2,3,4,5]
print("list :",x)
print("LIST TO TUPLE", tuple(x))

list : [1, 2, 3, 4, 5]
LIST TO TUPLE (1, 2, 3, 4, 5)

In [ ]:
#creating a tuple and converting it into list and modifing it and convert it back to a tuple
x=(1,2,3,4,5)
y=list(x)
print("TUPLE TO LIST", y)
y.append(6)
print("LIST TO TUPLE", tuple(y))

tuple : (1, 2, 3, 4, 5)
TUPLE TO LIST [1, 2, 3, 4, 5]
LIST TO TUPLE (1, 2, 3, 4, 5, 6)

In [ ]:
#creating a nested tuple and printing the elements inside it
tuple1=((1,2,3),("stuti","ram","shyam"),(6,7,8,9))
for i in range(len(tuple1)):
    for j in range(len(tuple1[i])):
      print(tuple1[i][j])

1
2
3
stuti
ram
shyam
6
7
8
9