In [ ]:
#DICTIONARY
diction = { "INDIA" : "NEW DELHI" , "CHINA" : "BEJING" , "FRANCE" : "PARIS" , "JAPAN" : "TOKYO" }
print(diction)
print(diction["INDIA"])      #PRINTING THE VALUE OF A SPECIFIC KEY
diction.update({"GERMANY" : "BERLIN"})   #ADDING NEW KEY & VALUE PAIR
print(diction)
diction.pop("FRANCE")    #REMOVING A KEY AND VALUE PAIR
print(diction)
del diction["CHINA"]    #DELETING A KEY AND ITS VALUE
print(diction)
diction.clear()         #CLEARING A DICTIONARY
print(diction)

{'INDIA': 'NEW DELHI', 'CHINA': 'BEJING', 'FRANCE': 'PARIS', 'JAPAN': 'TOKYO'}
NEW DELHI
{'INDIA': 'NEW DELHI', 'CHINA': 'BEJING', 'FRANCE': 'PARIS', 'JAPAN': 'TOKYO', 'GERMANY': 'BERLIN'}
{'INDIA': 'NEW DELHI', 'CHINA': 'BEJING', 'JAPAN': 'TOKYO', 'GERMANY': 'BERLIN'}
{'INDIA': 'NEW DELHI', 'JAPAN': 'TOKYO', 'GERMANY': 'BERLIN'}
{}

In [ ]:
data= { "RAM" : 87 , "SHYAM" : 88 , "KRISH " : 90 }
print(data.keys())          #RETURNS ALL THE KEYS ONLY
print(data.values())        #RETURNS ALL THE VALUES ONLY
print(data.items())         #RETURNS ALL THE KEY & VALUE PAIR
print(data.get("RAHUL"))     #RETURNS THE VALUE IF IT EXISTS AND RETURNS NONE IT DOESN'T AVOIDING ERROR
data.update({"RAHUL" : 99, "YASH" : 90, "OM" : 77})
print(data)

dict_keys(['RAM', 'SHYAM', 'KRISH '])
dict_values([87, 88, 90])
dict_items([('RAM', 87), ('SHYAM', 88), ('KRISH ', 90)])
None
{'RAM': 87, 'SHYAM': 88, 'KRISH ': 90, 'RAHUL': 99, 'YASH': 90, 'OM': 77}

In [ ]:
#WAP TO MAKE COPY OF A DICTIONARY AND UPDATE THE COPIED DICTIONARY WITHOUT MAKING ANY CHANGES IN ORIGNAL DICTIONARY
data= { "RAM" : 87 , "SHYAM" : 88 , "KRISH " : 90 }
print(data)
copy = data.copy()
copy.update({"RAHUL" : 99, "YASH" : 90, "OM" : 77})
print(copy)

{'RAM': 87, 'SHYAM': 88, 'KRISH ': 90}
{'RAM': 87, 'SHYAM': 88, 'KRISH ': 90, 'RAHUL': 99, 'YASH': 90, 'OM': 77}

In [ ]:
#WAP TO COUNT THE FREQUENCY OF WORDS IN A SENTENCE IN A DICTIONARY
sentence = "Python is a scary snake but Python language is easy"
words = sentence.split()
frequency = {}
for word in words:
    if word in frequency:
        frequency[word] += 1
    else:
        frequency[word] = 1
print("word frequency :" , frequency)
for word,count in frequency.items():
    print(word , ":", count)

word frequency : {'Python': 2, 'is': 2, 'a': 1, 'scary': 1, 'snake': 1, 'but': 1, 'language': 1, 'easy': 1}
Python : 2
is : 2
a : 1
scary : 1
snake : 1
but : 1
language : 1
easy : 1

**FUNCTIONS**

In [ ]:
#FUNCTION TO PRINT HELLO WORLD
def hello():
    print("HELLO WORLD")
hello()

HELLO WORLD

In [ ]:
def hello(name):
    print("HELLO" , name)
hello("RAHUL")

HELLO RAHUL

In [ ]:
#FUNCTION TO FIND THE SUM OF TWO NUMBER
def sum(a,b):
    return a+b
print(sum(10,20))

30

In [ ]:
#FUNCTION TO FIND SQUARE OF A NUMBER
def square(a):
    return a**2
print(square(2))

8

In [ ]:
#FUNCTION TO FIND IF THE GIVEN NUMBER IS EVEN OR ODD
def evenorodd(a):
    if a%2==0:
        print("EVEN")
    else:
        print("ODD")

x= int(input("ENTER A NUMBER : "))
evenorodd(x)

ENTER A NUMBER : 4
EVEN

In [ ]:
#TO FIND THE MAXIMUM NUMBER
def max(a,b):
    if a>b:
        print("max :" , a)
    else:
        print("max :" , b)
x= int(input("ENTER A NUMBER : "))
y= int(input("ENTER A NUMBER : "))
max(x,y)

ENTER A NUMBER : 3
ENTER A NUMBER : 4
max : 4

In [ ]:
#TO FIND AVERAGE OF 4 NUMBERS
def avg(a,b,c,d):
  avg=(a+b+c+d)/4
  print("avg :" , avg)
avg(2,3,4,5)

avg : 3.5

In [ ]:
#FUNCTION TO COUNT ALL THE VOWELS IN A STRING
def countvowels(w):
  count = 0
  vowels = "aeiouAEIOU"
  for char in w:
    if char in vowels:
      count += 1
  print("vowels :" , count)
x= input("ENTER A WORD : ")
countvowels(x)

ENTER A WORD : stuti
vowels : 2

In [ ]:
#TO FIND FACTORIAL A NUMBER USING LOOPS
def fact(n):
  t=1
  for i in range(1,n+1):
    t*=i
  print("fact :" , t)
x= int(input("ENTER A NUMBER : "))
fact(x)

ENTER A NUMBER : 3
fact : 6

In [ ]:
#TO CHECK IF A NUMBER IS A PANINDROME OR NOT
def palindrome(word):
    if word == word[::-1]:
        return True
    else:
        return False
w= input(print("ENTER A STRING:"))
palindrome(w)

ENTER A STRING:
Nonestuts

True

In [ ]:
#RECURSION
#WAP A RECURSIVE FUNCTION TO FIND FACTORIAL OF A NUMBER
def facto(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*facto(n-1)
x= int(input("ENTER A NUMBER : "))
fact(x)

ENTER A NUMBER : 4
fact : 24

In [13]:
#WAP A RECURSIVE FUNCTION TO PRINT FIBONACCI SERIES UP TO N TERMS
def fib_recursive(n):
    if n <= 1:
        return n
    else:
        return (fib_recursive(n-1) + fib_recursive(n-2))
def print_fibonacci_series(num_terms):
    if num_terms <= 0:
        print("Please enter a positive integer.")
    else:
        print("Fibonacci Series:")
        for i in range(num_terms):
            print(fib_recursive(i), end=" ")

nterms = int(input("Enter the number of terms: "))
print_fibonacci_series(nterms)

Enter the number of terms: 8
Fibonacci Series:
0 1 1 2 3 5 8 13