**NAME - STUTI KHANNA     
CLASS - AI 3E     
ROLL NO. - 38**

# **SETS**

BASIC SET CREATION

In [ ]:
#Create a set of 5 colors and print it
x = {"black" , "white" , "pink" , "orange" , "blue"}
print(x)

{'blue', 'pink', 'orange', 'white', 'black'}

In [ ]:
#Create a set with duplicates and check behavior
y = {1,2,3,1,4,5,4}
print(y)

{1, 2, 3, 4, 5}

In [ ]:
#Loop through a set and print each element
z= {"apple" , "banana" , "cherry"}
for i in z:
  print(i)

banana
cherry
apple

ADDING AND REMOVING ELEMENTS

In [ ]:
#Create a set and use .add()
animals = {"lion", "tiger", "elephant"}
animals.add("giraffe")
print(animals)

{'lion', 'giraffe', 'tiger', 'elephant'}

In [ ]:
#Remove element using .remove()
nums = {1,2,3,5}
nums.remove(3)
print(nums)

{1, 2, 5}

In [ ]:
#Remove using .discard() and compare
num = {10, 30 , 60, 90}
nums.discard(20)
print(nums)
nums.discard(50)
print(nums)

{1, 2, 5}
{1, 2, 5}

In [ ]:
#Remove a random element using .pop()
alpha = {"a", "b", "c", "d", "e"}
removed = alpha.pop()
print("REMOVED :" , removed)
print("REMANING :" , alpha)

REMOVED : c
REMANING : {'d', 'a', 'b', 'e'}

SET OPERATIONS

In [ ]:
#Create two sets and find their union
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
union = a.union(b)
print(union)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Create two sets and find their intersection
a = {10, 20, 30, 40}
b = {30, 40, 50, 60}
intersection = a.intersection(b)
print(intersection)

{40, 30}

In [ ]:
#Find difference (A - B)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c= a.difference(b)
print(c)

{1, 2}

OTHER METHODS

In [ ]:
#Use .copy() and modify copy
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
print("ORIGINAL: ", a)
print("COPY: ", b)

ORIGINAL:  {1, 2, 3, 4}
COPY:  {1, 2, 3, 4, 5}

In [ ]:
#Use .clear() to empty a set
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#Convert list with duplicates into set
l= [1,2,3,4,3,5,2,3]
s= set(l)
print(s)

{1, 2, 3, 4, 5}

APPLICATONS

In [ ]:
#Find all unique characters in a string
text = input("Enter a string: ")
unique = set(text)
print("Unique characters in the string:", unique )

Enter a string: stuti
Unique characters in the string: {'u', 't', 's', 'i'}

In [ ]:
#Find students who play both sports
football = {"ariv", "yash", "om", "shashwat"}
cricket = {"shashwat", "virat" , "rohit","yash"}
both = football.intersection(cricket)
print(both)

{'shashwat', 'yash'}

In [ ]:
#Find students who play only cricket
football = {"ariv", "yash", "om", "shashwat"}
cricket = {"shashwat", "virat" , "rohit","yash"}
only = cricket - football
print(only)

{'rohit', 'virat'}

In [ ]:
#Print all unique words in a sentence
sentence = input("Enter a sentence: ")
words = sentence.split()
unique = set(words)
print("Unique words in the sentence:")
for word in unique:
    print(word)

Enter a sentence: It was the best of times,  it was the worst of times,  it was the age of wisdom
Unique words in the sentence:
it
worst
the
was
wisdom
times,
It
best
age
of

In [ ]:
#Check if two sets are equal
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
if a == b:
  print("SETS ARE EQUAL")
else:
  print("SETS ARE NOT EQUAL")

SETS ARE NOT EQUAL

In [ ]:
#Check if two sets have at least one common element
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
common = a.intersection(b)
if common:
  print("SETS HAVE COMMON ELEMENT :", common)
else:
  print("SETS DO NOT HAVE COMMON ELEMENT")

SETS HAVE COMMON ELEMENT : {3, 4}

In [ ]:
#Find number of unique elements in a list
num = [1, 2, 3, 4, 3, 5, 2, 3]
unique = set(num)
print("Number of unique elements:", len(unique))

Number of unique elements: 5