**DATA** **HANDLING**

In [13]:
with open("/stutidata.txt","r") as f:
    file_contents = f.read()
    print(file_contents)

Amit , 20 , Delhi
Neha , 22 , Mumbai
Rahul , 19 , Kolkata
Priya , 21 , Chennai

In [14]:
with open("/stutidata.txt","r") as f:
    file_contents = f.readline()
    print(file_contents)

Amit , 20 , Delhi

In [15]:
with open("/stutidata.txt","r") as f:
    file_contents = f.readlines()
    print(file_contents)

['Amit , 20 , Delhi\n', 'Neha , 22 , Mumbai\n', 'Rahul , 19 , Kolkata\n', 'Priya , 21 , Chennai']

In [16]:
with open("/stutidata.txt","r") as f:
    file_contents = f.readlines()
    for i in file_contents:
        print("[",i.strip(),"]")

[ Amit , 20 , Delhi ]
[ Neha , 22 , Mumbai ]
[ Rahul , 19 , Kolkata ]
[ Priya , 21 , Chennai ]

In [17]:
#Count how many lines exist in file
with open("/stutidata.txt","r") as f:
    file_contents = f.readlines()
    print(len(file_contents))

4

In [18]:
#Count total number of words in the file.
import string
with open("/stutidata.txt","r") as f:
    file_contents = f.read()
for ch in string.punctuation:
    file_contents = file_contents.replace(ch, "")
whilespaces = file_contents.split()
print(len(whilespaces))

12

In [20]:
#Append 2 more lines into the existing file without deleting previous content.
with open("/stutidata.txt","a") as f:
  f.write("\nStuti , 19 , Lucknow\nSusmita , 19 , Basti")
with open("/stutidata.txt","r") as f:
    file_contents = f.read()
    print(file_contents)

Amit , 20 , Delhi
Neha , 22 , Mumbai
Rahul , 19 , Kolkata
Priya , 21 , Chennai
Stuti , 19 , Lucknow
Susmita , 19 , Basti

In [21]:
#Count number of characters (excluding spaces)
with open("/stutidata.txt","r") as f:
    file_contents = f.read()
    print(len(file_contents.replace(" ","")))

96

In [22]:
#Open the file in r+ mode and update the first studentâ€™s name from "Amit" to "Amit Kumar".
with open("/stutidata.txt","r+") as f:
    initial_contents = f.read()
    updated_contents = initial_contents.replace("Amit","Amit Kumar")
    f.seek(0)
    f.truncate()
    f.write(updated_contents) # Write the modified content
    f.seek(0) # Go to the beginning again to read for printing
    final_file_contents = f.read()
    print(final_file_contents)

Amit Kumar , 20 , Delhi
Neha , 22 , Mumbai
Rahul , 19 , Kolkata
Priya , 21 , Chennai
Stuti , 19 , Lucknow
Susmita , 19 , Basti