# **OPPs**

In [2]:
#OOPs
class student:
  def __init__(self,name,age):
    self.name=name
    self.age=age
s1 = student("ram",20)
s2 = student("shyam",21)
print(s1.name,s1.age)
print(s2.name,s2.age)

ram 20
shyam 21

In [6]:
class car:
  def __init__(self,brand,price):
    self.brand=brand
    self.price=price
  def display(self):
    print(self.brand,self.price)
c1 = car("audi",100000)
c2 = car("bmw",200000)
c1.display()
c2.display()

audi 100000
bmw 200000

In [8]:
class employee:
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary
  def display(self):
    print(self.name,self.salary)
e1=employee("ram",10000)
e2=employee("shyam",20000)
e1.display()
e2.display()

ram 10000
shyam 20000

In [9]:
class mobile:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model
  def display(self):
    print(self.brand, self.model)
m1 = mobile("samsung","s22")
m2 = mobile("apple","iphone14")
m3 = mobile("motorola","motog60")
m1.display()
m2.display()
m3.display()

samsung s22
apple iphone14
motorola motog60

In [12]:
class book:
  def __init__(self,title,author):
    self.title = title
    self.author = author
  def display(self):
    print("book:",self.title,",author:",self.author)
b1=book("wings of fire","apj abdul kalam")
b2=book("the alchemist","paulo coelho")
b1.display()
b2.display()

book: wings of fire ,author: apj abdul kalam
book: the alchemist ,author: paulo coelho

In [14]:
class college:
  college_name="BBDU"
  def __init__(self, student_name):
    self.student_name=student_name
s1 = college("ram")
s2 = college("shyam")
print(s1.student_name, ",",s1.college_name)
print(s2.student_name,"," , s2.college_name)

ram , BBDU
shyam , BBDU

In [15]:
class bike:
  def __init__(self,brand,color):
    self.brand=brand
    self.color=color
  def start(self):
    print(self.brand, self.color,"bike is starting")
b1 = bike("honda","black")
b2 = bike("bajaj","red")
b1.start()
b2.start()

honda black bike is starting
bajaj red bike is starting

In [18]:
class laptop:
  def __init__(self,brand,RAM):
    self.brand=brand
    self.RAM=RAM
l1 = laptop("dell",8)
l2 = laptop("hp",16)
print("BRAND:",l1.brand,"RAM:",l1.RAM)
print("BRAND:",l2.brand,"RAM:",l2.RAM)

BRAND: dell RAM: 8
BRAND: hp RAM: 16

In [19]:
class teacher:
  def __init__(self,name,subject):
    self.name=name
    self.subject=subject
  def display(self):
    print("teacher:",self.name,",subject:",self.subject)
t1=teacher("ram","maths")
t2=teacher("shyam","science")
t1.display()
t2.display()

teacher: ram ,subject: maths
teacher: shyam ,subject: science

In [23]:
class Company:
  company_name="INFOSYS"
  def __init__(self,employee_name):
    self.employee_name=employee_name
    print("company name:",self.company_name, ", employee name:",self.employee_name)
c1=Company("Ram")
c2=Company("Shyam")

company name: INFOSYS , employee name: Ram
company name: INFOSYS , employee name: Shyam

# **INHERITANCE**

In [31]:

class person:
    def __init__(self,fname,lname,age):
        self.fname=fname
        self.lname=lname
        self.age = age
class student(person):
  def __init__(self,fname,lname,age,rollno,section):
    person.__init__(self,fname,lname,age)
    self.rollno=rollno
    self.section=section
  def show(self):
       print("person details:", "first name -", self.fname,"last name -", self.lname, "age -" , self.age, "rollno-", self.rollno, "section-", self.section)
s1=student("ram","sharma",20,101,"a")
s2=student("shyam","sharma",21,102,"b")
s1.show()
s2.show()

person details: first name - ram last name - sharma age - 20 rollno- 101 section- a
person details: first name - shyam last name - sharma age - 21 rollno- 102 section- b

In [32]:
class shape:
    def draw(self):
        print("there are different shapes")
class circle(shape):
    def drawing(self):
        print("circle is drawing")
c=circle()
c.draw()
c.drawing()

there are different shapes
circle is drawing

In [33]:
class teacher:
  def teach(self):
    print("teacher is teaching")
class mathteacher(teacher):
  def study(self):
    print("math teacher is teaching maths")
m=mathteacher()
m.teach()
m.study()

teacher is teaching
math teacher is teaching maths

In [37]:
class computer:
  def power_on(self):
    print("computer is powering on")
class laptop(computer):
  def display(self):
    print("laptop is powering on")
l=laptop()
l.power_on()

computer is powering on

In [39]:
class mobile:
  def call(self):
    print("mobile is calling")
class Smartphone(mobile):
  def display(self):
    print("smartphone is calling")
s=Smartphone()
s.call()
s.display()

mobile is calling
smartphone is calling